.DS_Store
*.pyc
*.egg-info
*.swp
tags
ury/docs/current
node_modules/

ury/public/pos
ury/www/pos.html
ury/public/ury
ury/www/ury.html
ury/public/urypos
ury/public/Mosaic
ury/public/node_modules
urypos/yarn.lock
Mosaic/yarn.lock
ury/www/urypos.html
ury/www/Mosaic.html
build

*.lock
