.DS_Store
*.pyc
*.egg-info
*.swp
tags
ury/docs/current
node_modules/

ury/public/pos
ury/www/pos.html
ury/public/urypos
ury/public/URYMosaic
ury/public/node_modules
urypos/yarn.lock
URYMosaic/yarn.lock
ury/www/urypos.html
ury/www/URYMosaic.html
build

*.lock
